.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  
    @media (min-width: 576px) { width: 540px; }
    @media (min-width: 768px) { width: 720px; }
    @media (min-width: 992px) { width: 960px; }
    @media (min-width: 1200px) { width: 1140px; }
}

.form-box{
    margin-top: 350px;
}

.middle-button{
    margin-top: 15px;
    margin-bottom: 15px;
}